<h1 mat-dialog-title class="text-center">{{data.teamInfo.nickname}}</h1>
<div mat-dialog-content class="text-start">
  <ul>
    <li>Nombre completo: {{data.teamInfo.fullName}}</li>
    <li>NBA Franchise: {{data.teamInfo.isNBAFranchise}}</li>
    <li>All Star: {{data.teamInfo.isAllStar}}</li>
    <li>Ciudad: {{data.teamInfo.city}}</li>
    <li>Nombre corto: {{data.teamInfo.teamShortName}}</li>
  </ul>
</div>
<div *ngIf="data.playersFromTeam.length; else noPlayers">
  <h5>Jugadores:</h5>
  <ul *ngFor="let jugador of data.playersFromTeam">
    <li>{{jugador.firstName}} {{jugador.lastName}}</li>
  </ul>
</div>
<ng-template #noPlayers >
  <p class="text-danger">Los sentimos, jugadores no disponibles.</p>
</ng-template>
<div mat-dialog-actions class="d-grid text-center" >
  <button mat-button mat-dialog-close color="prymary" cdkFocusInitial>Ok</button>
</div>
