

<h1>Lista de jugadores de la NBA</h1>

<div class="text-center">
    <mat-select class="w-25" [(ngModel)]="year" (selectionChange)="getTodosLosJugadores(this.year)">
        <mat-option [value]="2021">2021</mat-option>
        <mat-option [value]="2022">2022</mat-option>
    </mat-select>
</div>

<div class="contenedor">
  <mat-card class="example-card" *ngFor="let jugador of listaJugadores">
    <mat-card-header>
      <mat-card-title>{{jugador.firstName}}</mat-card-title>
      <mat-card-subtitle>{{jugador.personId}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]= getImagenJugador(jugador.personId)
    onerror="this.src='https://img.olympicchannel.com/images/image/private/f_auto/t_1-1_300/primary/ovfsumgucccbmte6jtor'">
  </mat-card>
</div>
